
<div>
  <% @students.each do |student| %>
    <% student.active ? status = "active" : status = "inactive"%>
    <div><h3><%= link_to student.to_s, student_path(student) %> - <em><%= status%></em></h3></div>
  <% end %>
</div>